<!DOCTYPE html>

<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Oksana Sheremet (junior)</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/main.css">
  </head>

  <body>
    <header>
      <p>Контакты</p>
    </header>

    <main>
		  <div class="container-index" >
			  <div class="photo">
				  <div class="col-md-12 text-center" >
					  <img src="../uploads/photo.jpg">
				  </div>
			  </div>

        <div class="row">
          <div class="col-md-12 text-center">
              <h1> Оксана Шеремет</h1>
              <h2> Python Backend Developer</h2>
          </div>
        </div>

        <div class="row-blanc">
          <div class="col-md-12">	</div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">
              <p> Здесь основной текст</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">
              <p> Здесь перечень проектов</p>
              <ul>
                <li>проект 1</li>
                <li>проект 2</li>
                <li>проект 3</li>
              </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">
              <p> Здесь мое резюме</p>
          </div>
        </div>

        <div class="row-blanc">
          <div class="col-md-12">	</div>
        </div>

        <div class="row-blanc">
          <div class="col-md-12">	</div>
        </div>

        <div class="row-blanc">
          <div class="col-md-12">	</div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">
            <h3>Контакты</h3>
            <p>E-mail: sheremet5631@gmail.com</p>
            <p>Telegram:@sheremet_o</p>
            <p><a href="https://github.com/sheremet-o">
                  GitHub
                </a>
              </p>
          </div>
        </div>

      </div>
    </main>

		<footer class="footer">
		</footer>	


  </body>
  
</html>