<!DOCTYPE html>

{% load static %}

<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Oksana Sheremet (junior)</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  </head>

  <body>

		
    <div class="container-index" >
			  <div class="row-cener">
				  <div class="image-cropper" >
					  <img class="photo" src="{% static "img/photo.jpg" %}">
				  </div>
			  </div>

        <div class="row">
          <div class="col-md-12 text-center">
              <h1> Оксана Шеремет</h1>
              <h2> Python Backend Developer</h2>
          </div>
        </div>

        <div class="row-blanc">
          <div class="col-md-12">	</div>
        </div>

        <div class="row-cener">
          <div class="col-md-12 text-center">
              <p> Добро пожаловать на мою страничку!<br> Я занимаюсь разработкой с 2021 года, специализация - бэкенд. <br> Ниже вы сможете найти примеры моих работ, резюме и контакты для связи.<br><br>Стек технологий: Python 3, Django 2.2.16, Django Rest Framework, pytest, SQLite, PostgreSQL, Git, Docker, nginx, gunicorn, Яндекс.Облако, Bubble, Linux</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">
              <p> Примеры проектов</p>
              <ul>
                <li>Yatube - сайт-блог для публикации дневников.<br>
                  Создание, редактирование и удаление сообществ и постов, система подписки на авторов. Возможность добавлять изображения к постам, настройка навигации по разделам.<br>
                  GitHub: https://github.com/sheremet-o/Yatube<br><br></li>
                <li>REST API для проекта Yatube.<br>
                  CRUD для указанного выше сайта-блога. Настроена аутентификация пользователя по JWT-токену, добавлена возможность поиска по подпискам.<br>
                  GitHub: https://github.com/sheremet-o/Yatube_api<br><br></li>
                <li>REST API YaMDB - база отзывов о книгах, фильмах, музыке.<br>
                  Работала в команде, отвечала за внедрение системы оценок и рейтингов.<br>
                  GitHub: https://github.com/sheremet-o/api_yamdb<br><br></li>
                <li>Foodgram - продуктовый помощник.<br>
                  На этом сервисе пользователи могут публиковать рецепты, подписываться на публикации других пользователей, добавлять понравившиеся рецепты в список «Избранное», а перед походом в магазин скачивать сводный список продуктов, необходимых для приготовления одного или нескольких выбранных блюд.<br>
                  https://github.com/sheremet-o/Foodgram<br><br></li>
                <li> Остальные можно посмотреть 
                  <a href="https://github.com/sheremet-o">
                    здесь
                  </a>
              </ul>
          </div>
        </div>

        <div class="row-cener">
          <div class="col-md-12 text-center">
              <p> Здесь мое резюме</p>
          </div>
        </div>

        <div class="row-blanc">
          <div class="col-md-12">	</div>
        </div>

        <div class="row-blanc">
          <div class="col-md-12">	</div>
        </div>

        <div class="row-blanc">
          <div class="col-md-12">	</div>
        </div>

        <div class="row-cener">
          <div class="col-md-12 text-center">
            <h3>Контакты</h3>
            <p>E-mail: sheremet5631@gmail.com</p>
            <p>Telegram: @sheremet_o</p>
          </div>
        </div>

    </div>
    </main>

		<footer class="footer">
		</footer>	


  </body>



</html>
